body{
	background-color: #faf3dd;
	color: black;
	font-family: Helvetica;
	font-size: 17px;
	font-weight: lighter; 
}
h1,h2{
	font-family: Helvetica;
}
h1{
	color: black;
	font-size: 32px;
	font-weight: 700;
}
h2{
	color: black;
	font-size: 20px;
	font-weight: 600;
}
a{	
	font-family: Helvetica;
	text-decoration: none;
	color: black;
	font-weight: 550;
	font-size: 16px;
}

.img-circle{
	border-radius: 50%;
	border: 1px solid black;
}
.card-white{
	background-color: white;
	margin: 20px;
	padding: 20px;
	border-radius: 3%;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
	text-align: center;
}
.btn-yellow{
	border:1px solid black;
	padding: 5px;
	border-radius: 4px;
	color: black;
	font-size: 25px;
	margin: 30px;
}
.btn-yellow:hover{
	background: #faf3dd;
	border: 3px solid black;
	color: black;
}
.list-inline{
	list-style: none;
	padding-left: 0px;
}
.list-inline li{
	display: inline;
	padding: 10px;
}
.container{
	width: 600px;
	margin: 40px auto;
}
@media (max-width: 760px){
	.container{
		width: 600px
	}
}
@media (max-width: 500px){
	.container{
		width: 400px
	}
}
.fab{
	font-size: 50px;
}
.fab:hover{
	color: rgb(90,90,90);
}